@import "../globals.scss";

:global {
  * {
    box-sizing: border-box;
  }

  html, body {
    margin: 0;
    padding: 0;
  }

  html {
    /* Prevent font scaling when rotating iOS device */
    -webkit-text-size-adjust: 100%;
  }

  body, button, input {
    color: $text-color;
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    line-height: 1.6;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }

  :any-link {
    color: blue;
  }

  button {
    margin: 0; /* Override Safari default margin */
  }

  img {
    height: auto;
    max-width: 100%;
  }
}
